apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lightnvr-data
  namespace: lightnvr
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: do-block-storage
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lightnvr-config
  namespace: lightnvr
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: do-block-storage
  resources:
    requests:
      storage: 1Gi

